<head>  
    <style>   
      div.left { text-align: left; background: #ffcccc; }  
      div.center { text-align: center; background: #ccffcc; }  
      div.right { text-align: right; background: #ccccff; }  
      div.justify { text-align: justify; background: #ffffcc; }  
    </style>  
</head>  

<div class="center">
  <h2>Marvellous Infosystems Knowledge Sharing Portal</h2>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand">Marvellous Infosystems</a>
    </div>
        <a class="nav-link" aria-current="page" routerLink="/projects">Our Projects</a>
        <a class="nav-link" aria-current="page" routerLink="/book-list">List of Prerequisite</a>
        <a class="nav-link" aria-current="page" routerLink="/aboutus">About Us</a>
  </div>
</nav>
